.pagr
{
    margin: auto; /* lygiuoja centre */
    padding: 10px;
    margin-top: 5px;
    background-color: rgb(207, 223, 223);
    width: 600px;
    height: 210px;
}
.article_foto
{
    float: left;
    background-color: rgb(90, 59, 59);
    width: 200px;
    height: 200px;
}
.article_antr
{
    display:block;
    float: left;
    background-color: rgba(255, 195, 83, 0.815);
    width: 380px;
    height: 50px;
}
.article_tekstas
{
    display:block;
    float: left;
    background-color: rgb(202, 253, 135);
    width: 380px;
    height: 120px;
}
.h1{
    background-color:#A9C445;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    text-transform: uppercase;
}



.pagr1
{
    margin: 5px;
    display: block;
    float: left;
    padding: 10px;
    background-color: aqua;
    width: 220px;
    height: 300px;
}
.article_foto1
{
    display:block;
    float: left;
    background-color: lightgrey;
    width: 200px;
    height: 200px;
}
.article_antr1
{
    display:block;
    float: left;
    background-color: lightblue;
    width: 200px;
    height: 30px;
}
.article_tekstas1
{
    display:block;
    float: left;
    background-color: lightgreen;
    width: 200px;
    height: 50px;
}
.visas{
    margin: auto; /* lygiuoja centre */
    background-color:lightcyan;
    width: 750px;
    height: 330px;
}